<!DOCTYPE html>
<html ng-app="testdock">

<head>
  <link rel="stylesheet" href="../ng-dock-panel.style.min.css"/>
  <link rel="stylesheet" href="style.css"/>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/css/smoothness/jquery-ui-1.10.0.custom.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
  <script src="../ng-dock-panel.min.js"></script>
  <script src="script.js"></script>

</head>

<body dock-panel ng-controller="sampleController">
<div id="top1" dock="top" dock-resizable ng-show="isBarVisible[0]">1. dock top (min-height 30px, max-height 30%)</div>
<div id="left2" dock-resizable dock="div2.dock" dock-panel ng-show="isBarVisible[1]">2. dock left
  <button ng-click="toggleLeftRight()">Toggle Left Right</button>
  <div id="bottom2.1" dock="bottom" dock-resizable="{minHeight: 50}" ng-show="isBarVisible[2]">2.1. dock bottom on left (minHeight 50px)
  </div>
</div>
<div id="top3" dock="top" dock-collapsible ng-show="isBarVisible[3]">3. another dock top
  <div class="dock-collapse-handle" ng-click="vm.toggleCollapse()"></div>
</div>
<div id="bottom4" dock="bottom" dock-resizable dock-collapsible ng-show="isBarVisible[4]">4. dock bottom, collapsible, custom handles (min-height 5em, max-height 40%)
  <div class="dock-resize-handle"></div>
  <div class="dock-collapse-handle" ng-click="vm.toggleCollapse()"></div>
</div>
<div id="right5" dock="right" dock-resizable ng-show="isBarVisible[5]">5. dock right (minWidth 100px, maxWidth 500px)
  <div class="dock-resize-handle"></div>
</div>
<div id="top6" dock="top" ng-show="isBarVisible[6]">6. dock top</div>
<div id="fill7" dock="fill" dock-panel>7. dock fill
  <div id="bottom7.1" dock="bottom" ng-show="isBarVisible[7]">7.1. dock bottom</div>
  <div id="right7.2" dock="right" ng-show="isBarVisible[8]">7.2. dock right</div>
  <div id="fill7.3" dock="fill">
    <br/>7.3. fill
    <p>
      <input type="checkbox" ng-model="isBarVisible[0]"/>1. dock top<br/>
      <input type="checkbox" ng-model="isBarVisible[1]"/>2. dock left<br/>
      <input type="checkbox" ng-model="isBarVisible[2]"/>2.1 dock bottome left<br/>
      <input type="checkbox" ng-model="isBarVisible[3]"/>3. another dock top<br/>
      <input type="checkbox" ng-model="isBarVisible[4]"/>4. dock bottom<br/>
      <input type="checkbox" ng-model="isBarVisible[5]"/>5. dock right<br/>
      <input type="checkbox" ng-model="isBarVisible[6]"/>6. dock top<br/>
      <input type="checkbox" ng-model="isBarVisible[7]"/>7.1 dock bottom<br/>
      <input type="checkbox" ng-model="isBarVisible[8]"/>7.2 dock right<br/>
    </p></div>
</div>
</body>


</html>
